html
{
	max-width: 100%;
	overflow-x: hidden;
}

.outer1
{
	border-radius: 40px;
	box-sizing: content-box;
	width: 1180px;
	height: 80px;
	background-color: #E73D66;
	margin-left: 7%;
}

.Vector
{
	width: 50px;
	height: 44px;
	margin-left: 25px;
	margin-top: 17px;
	flex-shrink: 0;
	margin-right: 15px;
}

.foot
{
	width: 80px;
	height: 33px;
	flex-shrink: 0;
	margin-bottom: 5px;
	margin-right: 150px;
}

.about
{
	width: 75px;
	height: 20px;
	color: #FFF;
	font-size: 14px;
	font-family: 'Rubik';
	font-weight: 500;
	line-height: 20px;
	padding: 18px;
	text-transform: uppercase;
	vertical-align: 15px;
}

.auth
{
	width: 30px;
	height: 30px;
	margin-left: 30px;
	vertical-align: 5px;
}

.icon-A
{
	display: inline-block;
	margin-left: 185px;
	vertical-align: 7px;
	margin-right: 15px;
}

.icon-B
{
	display: inline-block;
	vertical-align: 7px;
	margin-right: 15px;
}

.icon-C
{
	display: inline-block;
	vertical-align: 7px;
}

.title
{
	display: inline-block;
	margin-left: 470px;
	text-align: center;
	color: #444;
	font-size: 24px;
	font-family: 'Rubik';
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 80px;
}

.str
{
	color: red;
}

.get
{
	width: 1180px;
	color: #444;
	text-align: center;
	font-size: 75px;
	font-family: 'Rubik';
	font-weight: 500;
	line-height: 110px;
	text-transform: uppercase;
	margin-left: 80px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.home
{
	color: red;
}

.dogs
{
	width: 1180px;
	height: 350px;
	margin-left: 110px;
}

.outer2
{
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 50px;
}

.meet
{
	display: inline-block;
	width: 780px;
	height: 90px;
	color: #444;
	text-align: center;
	font-size: 33px;
	font-family: Rubik;
	flex-shrink: 0;
	margin-left: 285px;
	margin-bottom: -10px;
}

.mission
{
	display: inline-block;
	color: #444;
	margin-right: 26%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 26px;
	margin-left: 355px;
	margin-bottom: 45px;
}

.buttons
{
	display: flex;
}

.key1
{
	display: inline-block;
	width: 150px;
	height: 30px;
	padding: 0 50px 21px 50px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 40px;
	background: #E73D66;
	margin-left: 390px;
	margin-right: 50px;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
	text-transform: uppercase;
}

.text
{
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
	text-transform: uppercase;
}

.key2
{
	display: inline-block;
	width: 150px;
	height: 30px;
	padding: 0 50px 21px 50px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 40px;
	border: 1px solid rgba(231, 61, 102, 0.40);
}

.help
{
	color: #E73D66;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
	text-transform: uppercase;
}

.our-pets
{
	display: flex;
	width: 1180px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	text-align: center;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 60px;
	text-transform: uppercase;
	margin-top: 70px;
	margin-left: 70px;
}

.pet1
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 60px;
	border-radius: 40px;
}

.dog
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 25%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.majlo
{
	height: 240px;
	flex-shrink: 0;
}

.name
{
	display: inline-block;
	width: 100px;
	height: 40px;
	color: #333;
	margin-left: 35%;
	font-size: 30px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-bottom: 10px;
}

.age
{
	display: inline-block;
	width: 100px;
	height: 30px;
	color: #444;
	margin-left: 32%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 35px;
	white-space: nowrap;
}

.pet2
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 30px;
	border-radius: 40px;
}

.dog2
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 39%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.gerta
{
	height: 240px;
	flex-shrink: 0;
}

.pet3
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 30px;
	text-align: left;
	border-radius: 40px;
}

.dog3
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 42%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.martin
{
	margin-left: 20px;
	height: 240px;
	flex-shrink: 0;
}

.pet4
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 30px;
	text-align: left;
	border-radius: 40px;
}

.dog4
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 45%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.charlie
{
	margin-left: 25px;
	height: 240px;
	flex-shrink: 0;
}

.pets-list-2
{
	margin-bottom: 90px;
}

.pet5
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 60px;
	text-align: left;
	border-radius: 40px;
}

.dog5
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 45%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.linda
{
	height: 240px;
	flex-shrink: 0;
}

.pet6
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-left: 30px;
	text-align: left;
	border-radius: 40px;
}

.dog6
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 27%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.zelda
{
	margin-left: 5px;
	width: 270px;
	height: 240px;
	flex-shrink: 0;
}

.pet7
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 30px;
	text-align: left;
	border-radius: 40px;
}

.dog7
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 25%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.poncho
{
	margin-right: 5px;
	width: 265px;
	height: 240px;
	flex-shrink: 0;
}

.pet8
{
	display: inline-block;
	background-color: #F4F4F4;
	width: 280px;
	height: 425px;
	color: black;
	margin-top: 50px;
	margin-left: 30px;
	text-align: left;
	border-radius: 40px;
}

.dog8
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 20px;
	color: #E73D66;
	margin-left: 43%;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	margin-top: 30px;
	margin-bottom: 20px;
}

.denzel
{
	margin-left: 12px;
	width: 252px;
	height: 240px;
}

.return
{
	display: flex;
	width: 1180px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	margin-left: 29.5%;
	font-size: 35px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 60px;
	text-transform: uppercase;
}

.advices
{
	position: relative;
	text-align: center;
	display: flex;
	margin-top: 80px;
	margin-left: 65px;
}

.stage1
{
	display: inline-block;
	width: 10px;
	color: #E73D66;
	text-align: center;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-right: 190px;
}

.number
{
	display: inline-block;
	width: 220px;
	height: 60px;
	flex-direction: column;
	flex-shrink: 0;
}

.definition
{
	display: inline-block;
	width: 220px;
	height: 60px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	text-align: center;
	font-size: 22px;
	font-family: Rubik;
	line-height: 26px;
}

.description
{
	display: inline-block;
	width: 220px;
	height: 80px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 22px;
}

.right-line
{
	padding-left: 20px;
	position: relative;
	display: inline-block;
}

.right-line:before
{
	content: " ";
	background: #E73D66;
	width: 80px;
	height: 1px;
	left: 190px;
	bottom: 215px;
	position: absolute;
}


.stage2
{
	display: inline-block;
	width: 10px;
	color: #E73D66;
	text-align: center;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-left: 50px;
	margin-right: 190px;
}

.stage3
{
	display: inline-block;
	width: 10px;
	color: #E73D66;
	text-align: center;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-left: 50px;
	margin-right: 190px;
}

.stage4
{
	display: inline-block;
	width: 10px;
	color: #E73D66;
	text-align: center;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-left: 50px;
	margin-right: 190px;
}

.stage5
{
	display: inline-block;
	width: 10px;
	color: #E73D66;
	text-align: center;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-left: 30px;
}

.key3
{
	display: flex;
	width: 150px;
	height: 20px;
	padding: 20px 50px 21px 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 40px;
	background: #E73D66;
	margin-left: 41%;
	margin-right: 50px;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 70px;
}

.helpful
{
	color: #444;
	margin-left: 32.5%;
	font-size: 50px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 60px;
	text-transform: uppercase;
}

.advice1
{
	margin-top: 50px;
}

.dog_water
{
	margin-left: 80px;
	border-radius: 40px;
	margin-right: 60px;
	margin-bottom: 60px;
}

.question
{
	display: flex;
	width: 550px;
	height: 40px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	font-size: 25px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-bottom: 15px;
}

.answer
{
	display: flex;
	width: 550px;
	height: 220px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 70px;
}

.dog_play
{
	border-radius: 40px;
	margin-right: 110px;
	margin-bottom: 60px;
}

.question2
{
	display: flex;
	width: 550px;
	height: 40px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	font-size: 25px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-left: 80px;
	margin-bottom: 15px;
	margin-top: 40px;
}

.answer2
{
	display: flex;
	width: 550px;
	height: 220px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 26px;
	margin-left: 80px;
	margin-bottom: 70px;
	margin-top: 70px;
}

.dog_train
{
	margin-left: 80px;
	border-radius: 40px;
	margin-right: 60px;
	margin-bottom: 60px;
}

.question3
{
	display: flex;
	width: 550px;
	height: 40px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	font-size: 25px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
	margin-bottom: 15px;
}

.answer3
{
	display: flex;
	width: 550px;
	height: 220px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 70px;
}

.contact
{
	display: flex;
	width: 1180px;
	height: 320px;
	border-radius: 30px;
	background: #F4F4F4;
	margin-left: 80px;
}

.message
{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: #E73D66;
	margin: auto;
}

.sms
{
	padding: 15px 0 20px 15px;
}

.email
{
	display: inline-block;
	width: 280px;
	height: 60px;
	flex-direction: column;
	flex-shrink: 0;
	color: #E73D66;
	margin-left: -50px;
	font-size: 16px;
	font-family: Rubik;
	line-height: 20px;
}

.call
{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: #E73D66;
	margin: auto;
	margin-top: 70px;
}

.call_img
{
	width: 30px;
	height: 30px;
	padding: 15px 0 20px 15px;
}

.telephone
{
	display: inline-block;
	width: 380px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	margin-left: -90px;
	font-size: 30px;
	font-family: Rubik;
	font-weight: 500;
	line-height: 40px;
}

.schedule
{
	display: inline-block;
	width: 380px;
	height: 32px;
	flex-direction: column;
	flex-shrink: 0;
	white-space: nowrap;
	color: #999;
	margin-left: -70px;
	font-size: 14px;
	font-family: Rubik;
	font-weight: 300;
	line-height: 22px;
	margin-bottom: 20px;
}

.networks
{
	white-space: nowrap;
	margin-left: -25px;
}

.insta
{
	margin-right: 15px;
}

.vk
{
	margin-right: 15px;
}

.tg
{
	margin-right: 15px;
}

.locate
{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: #E73D66;
	margin: auto;
}

.location
{
	width: 30px;
	height: 30px;
	padding: 15px 0 20px 15px;
}

.address
{
	white-space: nowrap;
	display: inline-block;
	width: 280px;
	height: 45px;
	flex-direction: column;
	flex-shrink: 0;
	color: #444;
	margin-left: -70px;
	font-size: 16px;
	font-family: Rubik;
	line-height: 20px;
}

.addr
{
	display: inline-block;
	margin-left: 60px;
}

.end
{
	display: inline-block;
	margin-left: 35%;
	margin-top: 50px;
}

.company
{
	display: inline-block;
	width: 80px;
	flex-direction: column;
	flex-shrink: 0;
	color: #999;
	font-size: 12px;
	font-family: Montserrat;
	line-height: 18px;
	white-space: nowrap;
	margin-left: -380px;
	margin-right: 420px;
}

.confident
{
	display: inline-block;
	width: 80px;
	flex-direction: column;
	flex-shrink: 0;
	color: #999;
	font-size: 12px;
	font-family: Montserrat;
	line-height: 18px;
	white-space: nowrap;
	margin-right: 400px;
}

.develop
{
	display: inline-block;
	width: 80px;
	flex-direction: column;
	flex-shrink: 0;
	color: #999;
	font-size: 12px;
	font-family: Montserrat;
	line-height: 18px;
	white-space: nowrap;
}
